@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Electrolize);

html {
  font:400 18px/1.5 -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body, h1, h2, h3, p {
  margin: 0;
  padding 0;
  height: 100%;
  font-weight: 300;
}

body {
  background: url('img/vpn.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #0f1928;
  color: rgb(255, 255, 255);
  height: 100%;
}

h1 {
  margin: 24px 0 20px;
  color: #e8b301;
  font-size: 47px;
  font-weight: 400;
  line-height: 35px;
}

h2, p {
  margin-bottom: 18px;
}
h3{
 
  margin-bottom: 18px;
}

p{
  font-size: 17px;
  max-width: 1000px;
}

.col-img{
  width: 30%;
  float: left;
  margin: 5px 50px 0px;
  
  
}

.devices {
width: 100%;
}

.wrap2 {
  overflow: auto;
  padding: 10px 10px 0px 0px;
}

col {
width: 55%;
background-color: white;
float: left;
padding: 18px;
text-align: left;
margin:25px;

}

.wrap {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 18px;
  text-align: center;
}

.wrap-top {
 
  margin: 0 auto;
  padding: 0 18px;
  text-align: right;
}

.top-bar {
  height: auto;
  width: 100%;
  padding: 14px 0;

}

.btn {
  font-size: 20px;
    font-weight: 600;
  display: inline-block;
  padding: 12px 25px;
  border-radius: 50px;
  color: #2f2f2f;
  background-color: #ffc917;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/*This makes btn element change their color when they are hovered*/
.btn:hover {
  background: #e7b306;
}

a.btn {
  text-decoration: none;

}

.mrg{
  margin: 30px 0 60px;
}

.logo {
  float: left;
  margin-top: 10px;
}

.IPanim{
font-family: 'Electrolize';
font-size: 30px;
margin-bottom: 20px;
line-height: 30px;
}

#anim {
  color: #ffc916;
}





@media (max-width: 639px) and (min-width: 0px){

.mb {
    display: none;
}
h1{
  font-size: 34px;
  margin: 0 0 20px;
}
h2{
  font-size: 20px;
}
h3{
  font-size: 16px;

}
p{
  font-size: 12px;
}


body {
  background: url('img/vpn.png') no-repeat center bottom fixed;
  background-size: contain;
  background-color: #0f1928;
  color: rgb(255, 255, 255);
  height: 100%;
}
.logo {
  float: inherit;
  margin: 10px;
}
.wrap-top {

  text-align: center;
}
}


@media (max-width: 986px) and (min-width: 0px){
  .col-img{
    display: none;
    
    
  }
  .col {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 18px;
    text-align: center;
  }
  .wrap2 {
  
    padding: 0px;
  }
}












